@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 300ms ease-in-out;
}

:root {
  --main-color: #a4a2c0;
  --dark-color: #1d1d24;
  --link-color: #bfd3d2;
  --black-color: #000000;
  --white-color: #ffffff;
  --page-font: "Open Sans", sans-serif;
}
html,
body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 85%;
  margin: 0 auto;
}
/* header */
/* header */

header {
  background: var(--white-color);
  position: sticky;
  box-shadow: 0 2.9px 10px lightgray;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 60%;
}

header .container .left {
  font-size: 3rem;
  font-weight: 400;
}
header .container .left span {
  color: var(--main-color);
}
header .container .left a {
  color: var(--black-color);
  font-family: var(--page-font);
  font-size: 2.5rem;
  font-weight: 100;
}
header .container .left a:active {
  color: var(--main-color);
}
header .container .left .active {
  color: blue;
}
header .container .left a:hover {
  color: var(--main-color);
}

header .container > .right {
  gap: 1.9rem;
  text-transform: capitalize;
  width: 30%;
}
header .container .right ul {
  display: flex;
  justify-content: space-between;
}
header .container .right ul li a {
  color: var(--black-color);
}

header .container .right ul li a:active {
  color: var(--main-color);
}

header .container .right ul li a:hover {
  color: var(--main-color);
}

/* Hero section */
#hero {
  width: 100%;
  height: 100dvh;
  display: flex;
}
#hero .container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -4rem;
}
#hero .container .hero-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero .container .hero-text h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
#hero .container .hero-text h3 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 400;
}
#hero .container .hero-image {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
#hero .container .hero-image img {
  width: 100%;
  object-fit: contain;
}

/* The welcome section starts here */

#welcome {
  width: 100%;
  display: flex;
}
#welcome .container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#welcome .container .paws {
  width: 7%;
  display: flex;
  justify-content: space-between;
}
#welcome .container .paws #big-paw {
  size: 5rem;
  color: var(--main-color);
}
#welcome .welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
  width: 50%;
}
#welcome .welcome-text h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
}
#welcome .welcome-text h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
}
/* The benefits section starts here */

#benefits {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
#benefits .container {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.benefit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Css for benefits with image on screen-right */

.benefit .benefit-text {
  width: 50%;
  text-align: right;
  padding-right: 5%;
}
#benefits .container .benefit h2 {
  font-size: 2.2rem;
  font-weight: 400;
}
#benefits .container .benefit button {
  width: 7rem;
  height: 2.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background-color: var(--main-color);
  color: white;
  margin-top: 1rem;
  text-transform: capitalize;
}
#benefits .container .benefit .benefit-img img {
  height: 18rem;
  width: 32rem;
  object-fit: cover;
  object-position: top;
}
#benefits .container .benefit .benefit-img img:hover {
  box-shadow: 10px 10px var(--main-color);
}

/* CSS subsection for benefits with the image on screen-left */
.benefit-reverse {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.benefit-reverse .benefit-text {
  width: 50%;
  text-align: left;
  padding-left: 10%;
}

#benefits .container .benefit-reverse h2 {
  font-size: 2.2rem;
  font-weight: 400;
}

#benefits .container .benefit-reverse button {
  width: 7rem;
  height: 2.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background-color: var(--main-color);
  color: white;
  margin-top: 1rem;
  text-transform: capitalize;
}

#benefits .container .benefit-reverse .benefit-img img {
  height: 18rem;
  width: 32rem;
  object-fit: cover;
  object-position: top;
  margin-left: 15%;
}
#benefits .container .benefit-reverse .benefit-img img:hover {
  box-shadow: 10px 10px var(--main-color);
}

/* About us section */

#about-us {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

#about-us .container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.aboutus-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}
.aboutus-text h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
}
.aboutus-text h5 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
}
.aboutus-text p {
  margin-top: 2rem;
  font-size: 1.2rem;
}
.aboutus-vid img {
  width: 36rem;
  object-fit: cover;
  padding-left: 10%;
}
.fa-ul {
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

/* our trainers */

#our-trainers {
  width: 100%;
  display: flex;
  margin-top: 4rem;
  background-color: var(--main-color);
  padding: 5%;
}
#our-trainers .container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-trainers .container .paws {
  width: 7%;
  display: flex;
  justify-content: space-between;
}
#our-trainers .container .paws #big-paw {
  size: 5rem;
  color: white;
}
#our-trainers .ourtrainers-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 50%;
}
#our-trainers .ourtrainers-text h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}
#our-trainers .ourtrainers-text h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
}

.ourtrainers-profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.trainer {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  margin: 0% 1%;
  /* padding: 2%; */
}
.trainer-img img {
  width: 20rem;
  height: 32rem;
  object-fit: cover;
}
.trainer-img img:hover {
  box-shadow: 10px 10px var(--dark-color);
}
.trainer-description {
  width: 90%;
  margin-top: 1rem;
}

/* pricing table */

#pricing-table {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}
#pricing-table .container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pricing-table .container .paws {
  width: 7%;
  display: flex;
  justify-content: space-between;
}
#pricing-table .container .paws #big-paw {
  size: 5rem;
  color: var(--main-color);
}
#pricing-table .pricing-text,
.pricing-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
  width: 100%;
}
#pricing-table .pricing-text h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}
#pricing-table .pricing-text h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
}

.pricing-profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.pricing {
  display: flex;
  flex-direction: column;
  width: 34%;
  /* margin: 0% 1%; */
  background-color: var(--main-color);
  /* padding: 2%; */
}

.pricing-description {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 5%;
}
.pricing-description > * {
  text-align: center;
  line-height: 2.4;
}
.pricing-profile .dark {
  background-color: #1d1d24;
}
.pricing-profile .dark button {
  background-color: var(--main-color);
}

.pricing-description h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 200;
}

.pricing-description h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.pricing-description h2 > span {
  font-size: 1rem;
  font-weight: 200;
}

.pricing-description button {
  background-color: var(--dark-color);
  border: none;
  width: 8rem;
  height: 2.5rem;
  border-radius: 5rem;
  color: white;
  margin-top: 2rem;
  font-size: 1rem;
}

/* Frequently Asked Questions */

/* pricing table */

#FAQ {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}
#FAQ .container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#FAQ .container .paws {
  width: 7%;
  display: flex;
  justify-content: space-between;
}
#FAQ .container .paws #big-paw {
  size: 5rem;
  color: var(--main-color);
}
#FAQ .FAQ-text,
.FAQ-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
  width: 100%;
}
#FAQ .FAQ-text h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}
#FAQ .FAQ-text h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
}

.FAQ-info {
  display: flex;
  align-items: center;
}
.FAQ-lists {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.FAQ-lists ul {
  line-height: 2.6rem;
}
.FAQ-lists h5 {
  font-size: 1.5rem;
  font-weight: 200;
}

.FAQ-img img {
  width: 32rem;
  height: 18rem;
  object-fit: cover;
}

.FAQ-img img:hover {
  box-shadow: 10px 10px var(--main-color);
}

/* Happy customer reviews */

#happy-customers {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}
#happy-customers .container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#happy-customers .container .paws {
  width: 7%;
  display: flex;
  justify-content: space-around;
}
#happy-customers .container .paws #big-paw {
  size: 5rem;
  color: var(--main-color);
}
#happy-customers .customers-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
  width: 100%;
}
#happy-customers .customers-intro h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}
#happy-customers .review {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.review-text {
  background-color: var(--main-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  font-size: 1rem;
  padding: 5%;
  line-height: 2rem;
  border-radius: 3%;
  margin-bottom: 5%;
  height: 16rem;
  box-shadow: 0.4rem 0.2rem 0.9rem rgba(10, 10, 10, 0.2);
}
#happy-customers .customer-reviews {
  display: flex;
  justify-content: space-between;
}
#happy-customers .customer-reviews img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid var(--main-color);
}

/* photo gallery */

#photo-gallery {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}
#photo-gallery .container {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#photo-gallery .container .paws {
  width: 7%;
  display: flex;
  justify-content: space-around;
}
#photo-gallery .container .paws #big-paw {
  size: 5rem;
  color: var(--main-color);
}
#photo-gallery .photo-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
  width: 100%;
}
#photo-gallery .photo-intro h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}

#photo-gallery .photo-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0;
}

.photo-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  margin: 0;
  padding: 0;
}
.photo-grid img:hover {
  transform: scale(110%);
  transition: 300ms ease-in-out;
}

/* Doggo Blog */

#doggo-blog {
  width: 100%;
  display: flex;
  margin-top: 15rem;
}
#doggo-blog .container {
  width: 60%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#doggo-blog .container .paws {
  width: 7%;
  display: flex;
  justify-content: space-around;
}
#doggo-blog .container .paws #big-paw {
  size: 5rem;
  color: var(--main-color);
}
#doggo-blog .blog-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
  width: 100%;
}
#doggo-blog .blog-intro h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}
#doggo-blog .blog-intro h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
  width: 60%;
  color: var(--main-color);
}
.blog-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}
.blog-post {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}
#doggo-blog .blog-img img {
  width: 12rem;
  object-fit: cover;
  margin-right: 1rem;
}

.blog-text h2 {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.7rem;
}
.blog-text .blog-date {
  margin-bottom: 1rem;
}
.blog-snippet {
  margin-bottom: 1rem;
}
.blog-text p {
  color: #5c5c5c;
}
.blog-text a {
  text-transform: capitalize;
  color: var(--main-color);
}

/* Our services  */

#our-services {
  width: 100%;
  display: flex;
  margin-top: -12rem;
}
#our-services .container {
  width: 60%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-services .container .paws {
  width: 7%;
  display: flex;
  justify-content: space-around;
}
#our-services .container .paws #big-paw {
  size: 5rem;
  color: var(--main-color);
}
#our-services .services-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
  width: 100%;
}
#our-services .services-intro h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}
#our-services .services-intro h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
  width: 60%;
  color: var(--main-color);
}
.services-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 1rem;
}
#our-services .service-img img {
  width: 10rem;
  height: 12rem;
  object-fit: cover;
  margin-right: 1rem;
}

.service-text h2 {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.7rem;
}

.service-text p {
  color: #5c5c5c;
}

/* Contact us */

#contact-us {
  display: flex;
  width: 100%;
  margin-top: 4rem;
}
#contact-us .container {
  width: 60%;
  height: 60dvh;
  display: flex;
  justify-content: center;
}
.contact-form {
  width: 50%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}
form {
  width: 90%;
}
.contact-form .form-title {
  font-size: 1.6rem;
  color: #41404d;
}
.username label {
  line-height: 3;
  color: #41404d;
}
.username {
  margin-top: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #41404d;
}
.first-name,
.last-name {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.last-name {
  padding-left: 1%;
}
.username input[type="text"] {
  height: 2rem;
  border-radius: 0.2rem;
  border: none;
}
.message {
  display: flex;
  flex-direction: column;
}
.message label {
  line-height: 3;
  color: #41404d;
}
.message input[type="text"],
textarea {
  width: 100%;
  height: 2rem;
  border-radius: 0.2rem;
  border: none;
}
.message textarea {
  height: 8rem;
}
.contact-form ::placeholder {
  font-size: 1rem;
  font-family: var(--page-font);
  padding-left: 0.5rem;
}
.contact-form button {
  margin-top: 1rem;
  width: 10rem;
  height: 3rem;
  border: none;
  background-color: #41404d;
  color: var(--white-color);
  border-radius: 2rem;
  font-size: 1rem;
}

.contact-message {
  width: 50%;
  background-color: #6b6a7e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem;
  line-height: 1.6;
}
.contact-message .paws {
  color: #41404d;
  display: flex;
  justify-content: center;
}
.contact-message #big-paw {
  color: var(--main-color);
}
.contact-message h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--white-color);
}
.contact-message h3 {
  color: var(--white-color);
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}
.contact-message p {
  color: #1d1d24;
  font-size: 1rem;
  line-height: 1.6;
  font-style: normal;
}

/* footer */

#footer {
  background-color: #41404d;
}
#footer .container {
  width: 60%;
  padding: 5% 0%;
  display: flex;
  flex-direction: column;
}
#footer h5 {
  font-size: 1rem;
  font-weight: 300;
  color: var(--white-color);
  margin-bottom: 1rem;
}
#footer p {
  color: #7c7b91;
}

.footer-top {
  display: flex;

  justify-content: space-between;
  margin-bottom: 5rem;
}
.aboutus-footer {
  width: 30%;
}
.follow-us {
  color: #7c7b91;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.follow-us .icons {
  display: flex;
  justify-content: space-between;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  margin-top: 4rem;
}

/* Mobile responsiveness */

@media screen and (max-width: 1280px) {
  #hero .container {
    width: 80%;
  }

  #welcome .container {
    width: 90%;
  }

  #benefits .container {
    width: 90%;
  }

  #about-us .container {
    width: 90%;
  }

  #our-trainers .container {
    width: 90%;
  }

  #pricing-table {
    width: 90%;
  }
}
